{{ $pages := . }}
{{ $atf := false }}
{{ $scrollsnap := false }}
{{ if reflect.IsMap . }}
  {{ $pages = .pages }}
  {{ $atf = .abovethefold }}
  {{ with .scrollsnap }}
    {{ $scrollsnap = true }}
  {{ end }}
{{ end }}

{{ with $pages }}
  {{ if gt . 0 }}
    <div class="posts">
      {{ range $index, $items := . }}
        <div>
          {{ if and ($atf) (lt $index 2) }}
            {{ .Scratch.Set "notLazy" true }}
          {{ end }}
          {{ if $scrollsnap }}
            {{ .Scratch.Set "scrollsnap" true }}
          {{ end }}
          {{ partial "posts/item.html" . }}
          {{ if $scrollsnap }}
            {{ .Scratch.Delete "scrollsnap" }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
